/* Estilo del cuerpo del documento */
body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Selector de elemento por ID */
#contenedor {
  width: 80%; /* Utilización de la propiedad width */
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
}

/* Selector de elemento por clase */
.seccion {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #eaeaea;
  height: 100%; /* Utilización propiedad height */
}

/* Colores */
h1, h2 {
  color: #2c3e50;
}

p, li {
  color: #333333;
}

/* Span destacado */
.destacado {
  color: #e74c3c;
  font-weight: bold;
}

/* Imagen */
img {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
}
.titulo-centrado {
  text-align:center;
}